body {
    min-height: 100vh;
  font-family: "PT Sans Caption", sans-serif;
  background-color: var(--bg-color);
}
h1 {
  font-family: "Pacifico", cursive;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Righteous", sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
:root {
  --btn-color: #8a9e23;
  --bg-color: #f7ecde;
  --selected-color: #fec260;
}
::selection {
  background: var(--selected-color);
}
/* global style */
h1 {
  font-size: 3.125rem;
  font-weight: 31.25rem;
}
h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--selected-color);
  transition: all 0.4s;
}
h1:hover::before {
  height: 70%;
}
/* ============================================== */
.form {
  border-top: 2px dotted black;
  border-bottom: 2px dotted black;
}
h2{
    font-size: 1.5625rem;
    font-weight: 31.25rem;
    background-image: linear-gradient(to right,green,var(--selected-color));
    background-clip:text;
    color: transparent;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #fec260;
    outline: 0;
    box-shadow: 0 0 0 .25rem #fec16066;
}
/* =================================================== */
.table-header{
    background-color: white;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
.sec{
    width: 25%;
}